.icon {
  background-color: white;
  border: 3px solid #e7eaea;
  border-radius: 20px;
  width: 67px;
  padding: 17px;
  margin: 30px;
  align-items: center;
}
.icon img {
  width: 100%;
}

.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}