.container {
  width: clamp(20px, 700px, 90vw);
  height: 39.7rem;
  border-radius: 20px;
  background-color: white;
  color: black;
  margin: auto;
  border-radius: 20px;
  border: 3px solid #e7eaea;
  margin-top: 5rem;
}

.modal {
  width: 20.5rem;
}

.heading {
  font-size: 20px;
  text-align: center;
  margin-top: 3.5rem;
  margin-bottom: 4.7rem;
}

.icon {
  box-sizing: border-box;
  background-color: white;
  border: 3px solid #e7eaea;
  border-radius: 20px;
  padding: 1rem;
  width: 5.6rem;
  height: 5.7rem;
  margin: 1.5px;
}
.icon img {
  height: 100%;
  width: 100%;
}

.navicon {
  box-sizing: border-box;
  background-color: white;
  border: 3px solid #e7eaea;
  border-radius: 20px;
  padding: 1rem;
  width: 4.6rem;
  height: 4.7rem;
  margin: 1.5px;
  align-items: center;
  align-content: center;
}
.navicon img {
  width: 100%;
}

.naviconscontainer {
  display: flex;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  padding: 0.6rem;
}

.iconscontainer {
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.6rem;
  justify-content: center;
}

#prevbtn {
  background: none;
  border: none;
  padding: 0;
  font-size: 1em;
}

#forwardbtn {
  background: none;
  border: none;
  padding: 0;
  font-size: 1em;
  float: right;
  margin-left: 7rem;
  margin-right: 7rem;
}

.buttoncontainer {
  position: absolute;
  margin-top: -5rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
  z-index: auto;
  gap: 5rem;
}

.gameicon {
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.bodytxt {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.bodytxtsust {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.explain {
  font-size: 0.7rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: -0.8rem;
  margin-bottom: 0rem;
  text-align: left;
}

.subhead {
  font-size: 16px;
  font-weight: 550;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.bodytxtgreen {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-size: 16px;
  color: #627573;
  text-align: center;
  font-weight: 550;
}

.dots {
  justify-content: center;
  display: flex;
  gap: 1.5rem;
  transform: translateY(-2.5rem) translateX(8rem);
  position: absolute;
}

.dot {
  height: 9px;
  width: 9px;
  background-color: #627573;
  border-radius: 50%;
  display: inline-block;
}

.dotdark {
  height: 9px;
  width: 9px;
  background-color: #213D3A;
  border-radius: 50%;
  display: inline-block;
}

.navicon:hover, .navicon:focus {
  background-color: #627573;
  border: 3px solid #627573;
}

.navicon:hover img + .hovertxt, .navicon:focus img + .hovertxt {
  display: block;
}

.navicon:hover img, .navicon:focus img {
  display: none;
}

.hovertxt {
  text-align: center;
  display: none;
  color: #ffffff;
  font-size: 0.9rem;
  display: flex;
  line-height: 1;
  justify-content: center;
  align-items: center;
}

#home {
  margin-top: 35%;
  margin-bottom: 50%;
}

#profile {
  margin-top: 15%;
  margin-bottom: 50%;
}

.icon:hover, .icon:focus {
  background-color: #627573;
  border: 3px solid #627573;
}

.icon:hover img + .hovertxtpg2, .icon:focus img + .hovertxtpg2 {
  display: block;
  justify-content: center;
}

.icon:hover img, .icon:focus img {
  display: none;
}

.hovertxtpg2 {
  text-align: center;
  display: none;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
  margin-bottom: 50%;
}

#shopping, #restaurants {
  text-align: center;
  margin-right: -1rem;
}

#museum {
  margin-top: 6%;
  margin-bottom: 50%;
}

#bars {
  margin-top: 18%;
  margin-bottom: 50%;
}