.formWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: var(--border-modals);
  background-color: var(--color-prim-faded);
  width: clamp(2ch, 600px, 90%);
  border-radius: var(--border-radius);
}
.formWrapper img {
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  width: clamp(3ch, 100px, 50%);
  height: -moz-fit-content;
  height: fit-content;
}
.formWrapper h2 {
  margin-bottom: 1rem;
}
.formWrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  margin-top: 2rem;
}
.formWrapper form input[type=text],
.formWrapper form input[type=password] {
  padding: 0.2rem 0.5rem;
}
.formWrapper form input {
  width: 100%;
  border-style: none;
  border-radius: 0.3rem;
  height: 1.5rem;
}

.buttonBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.shortcut {
  font-size: 18px;
  width: 7rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.h2 {
  font-size: 20px;
}