.navbarWrapper {
  position: fixed;
  bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  isolation: isolate;
  z-index: 99;
  bottom: -2rem;
  height: 7rem;

  .navigation {
    border-radius: var(--border-radius);
    background-color: white;
    box-shadow: var(--box-shadow);
    display: flex;
    gap: 1rem;
    padding: 0.6rem 0.75rem;
      background-color: #627573;
  }
}

.floatButton {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}
