.navbarWrapper {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  isolation: isolate;
  z-index: 99;
  .navigation {
    border-radius: var(--border-radius);
    background-color: white;
    box-shadow: var(--box-shadow);
    display: flex;
    gap: 1rem;
    padding: 0.6rem 0.75rem;
  }
}
