.mainWrapper {
  min-height: 100dvh;
  width: 100%;
  background-color: var(--color-second-pale);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 5.5rem;
}