:root {
  --font-main: 'Hind Madurai', sans-serif;
  --box-shadow: 0 4px 10px rgb(0 0 0 / 0.2);
  --color-prim-green: #627573;
  --color-prim-faded: #cbd0cf;
  --color-second-pale: #e5e8e7;
  --color-second-orange: #dc715f;
  --color-black: #000;
  --color-white: #fff;
  --border-radius: 20px;
  --border-buttons: 3px solid #627573;
  --border-modals: 3px solid #e7eaea;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-main);
  position: relative;
}

#__next {
  min-height: 100vh;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
.map {
  height: 100vh;
  width: 100vw;
  z-index: 10;
}

.map-container {
  width: 100%;
  height: 600px;
}

.marker {
  background-color: #517873;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.2);
  cursor: pointer;
  padding: 0.5rem;
}

.marker span {
  display: none;
}

.marker h2 {
  margin: 0;
  font-size: 0.8rem;
}
.pin-name {
  color: white;
}

.highlighted {
  background-color: #a46c90;
}

.highlighted span {
  display: block !important;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
}

.info-window {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.2);
}

.opened-marker {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  translate: -50% 0;
  width: clamp(2ch, 400px, 80vw);
  font-size: 12px;
  padding: 1rem;
  background-color: #fff;
  color: black;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.2);
}
.opened-marker h2,
.opened-marker p {
  margin: 0;
}
.buttonbox {
  display: flex;
  gap: 1rem;
}
