.listWrapper {
  border: var(--border-modals);
  background-color: var(--color-second-pale);
  color: var(--color-prim-green);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 1rem;
  max-height: 70vh;
  overflow: scroll;
  width: clamp(2ch, 700px, 90vw);
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    margin: 0;
    li {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 1rem;
      padding: 0.5rem 0;
      border-bottom: 1px solid var(--color-prim-green);
      span {
        background-color: var(--color-white);
        color: var(--color-prim-faded);
        padding: 0.2rem 0.5rem;
        border-radius: var(--border-radius);
        width: fit-content;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.listInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media screen and (max-width: 768px) {
  .listWrapper ul li {
    flex-direction: column;
  }
}
