.button {
  background-color: var(--color-prim-green);
  color: var(--color-white);
  border-radius: var(--border-radius);
  border: var(--border-buttons);
  outline: none;
  padding: 0.3rem 0.75rem;
  cursor: pointer;
  &:hover {
    background-color: var(--color-white);
    color: var(--color-prim-green);
    img {
      filter: invert(1);
    }
  }
}
